### backend/requirements.txt
fastapi
uvicorn
pydantic
python-multipart
selenium
pandas
openpyxl
webdriver-manager
pydrive
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pandas 
xlrd 
jinja2 
python-multipart